body {
    background-color: rgb(198, 223, 213);
    text-align: center;
    font-family: montserrat, sans-serif;
}

img {
    margin-top: 3em;
    width: 30em;
    border-radius: 1em;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

input {
    margin: .2em .5em;
}

#flash-msg {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
}