{% extends 'base.html' %}

{% block title %}Reservation{% endblock %}

{% block body %}
  <!-- Mount your react components on to this element. -->
  <div id="app"></div>

    <h1>Create your reservation here 🍉</h1>

    <p>Office Hours: 10:00AM - 6:00PM Mon-Fri</p>
    <p>Please note: reservations end half an hour after selected start time.</p>
            
    <form action="/reservation" method="POST">
        <label htmlFor="datetime-select">
        Date:
        <input type="date" name="date" required />
        Start Time:
        <input type="time" name="start-time" min="10:00" max="17:30" step="1800" required  />
        </label>

        <input type="submit" value="Submit" />
    </form>

    <br>
    
    <u>Reservation List</u>
    {% for appt,end_time in packed: %}
        <dt>
            {{ appt.datetime.strftime('%d, %b %Y @ %H:%M') }} - {{ end_time }}
        </dt>
    {% endfor %}
    
    <br><br>

    <a href="/goodbye">Logout</a>
    

{% endblock %}
